{% extends 'base.html' %}
{% block content %}
<title>My Friends</title>

{% if user.is_authenticated %}
<center>
  	<div class = "col-md-8 offset-md-0.5 pt-5">
		<center>
	{% if messages %}
		{% for message in messages %}
			{% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
					<div class="alert alert-danger" role="alert">
							{{ message }}
					</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	
	<ul>

	{% for friend in my_friends %}

			<li>{{friend}}----- <a href="unfriend/{{ friend.id }}" class="btn btn-danger mb-3">Unfriend</a></li>

	{% endfor %}

	</ul>
</center>
</div>
</center>


{% else %}
	
	<h2>You ARE NOT AUTHENTICATED</h2>

{% endif %}
{% endblock %}